@model ENB.Church.Members.MVC.Models.DisplayMemberContribution

<div>   
    <dl class="row">        
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.MinistryName)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.MinistryName)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Payment_Method)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Payment_Method)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Contribution_amount)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Contribution_amount)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Contribution_Date)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Contribution_Date)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Contribution_Comments)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Contribution_Comments )
        </dd>        
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateModified)
        </dd>        
    </dl>
</div>

